﻿@{
    ViewData["Title"] = "Home Page";
}

@inject CustomConfiguration cc;

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>@await cc.GetConfigNameAsync()</p>
    <p>@ViewData["NEW_CC"] </p>
    <p>@ViewData["GRMsg"]</p>
</div>
